.navbar ul{
                list-style-type: none;
                background-color: #ffff;
                    padding: 8px;
                    margin: 0px;
                overflow: hidden
            }
            .navbar {
                color: white;
                text-decoration: none;
                padding: 15px;
                text-align-last: center;
            }
            .navbar: hover {
                background-color: antiquewhite
            }
            .navbar li{
                float: left;
                padding: 8px;
                a:link {
                        text-decoration: none;
                }
            }
            #countries {background-color: #ffff}
            h1 {border: 8px solid #EA526F;
            text-align: center;
            border-radius: 10px;
            padding: 10px;}
            h2 {color: #25CED1;
            font-family: cursive;
            font-weight: bold;}
            img {border-radius: 50%; 
                width: 500px; height: 500px;
                float: right;
                margin-left: 5px;
            border: 5px solid;
            float: right;}
            body {background-color: #FCEADE}
            p {color: #EA526F}
            li {color: #FF8A5B}
            th {color: #FF8A5B}
            td {color: #FF8A5B}
            h2 {text-align: center;}
            table {text-align: center;}
            table, td, th {
            border: 6px solid #FFFFFF;
            border-collapse: collapse;
                
 .navbar ul{
                list-style-type: none;
                background-color: #ffff;
                    padding: 0px;
                    margin: 0px;
                overflow: hidden
            }
            .navbar {
                color: white;
                text-decoration: none;
                padding: 15px;
                text-align-last: center;
            }
            .navbar: hover {
                background-color: antiquewhite
            }
            .navbar li{
                float: left;
            }
            #header1 
                {border: 8px dashed #D7263D;
            text-align: center;
            border-radius: 10px;
            padding: 10px;}
            img {width: 500px; height: 500px;
                border: 5px solid;}
            .center {display: block;
            margin-left: auto;
            margin-right: auto;}
            body {background-color: #EFECCA}
            p {color: #FABC3C}
            li {color: #FABC3C}
            h2 {color: #FF934F}
            h3 {color: #FF934F}
                

.navbar ul{
                list-style-type: none;
                background-color: #ffff;
                    padding: 0px;
                    margin: 0px;
                overflow: hidden
        }
            .navbar {
                color: white;
                text-decoration: none;
                padding: 15px;
                text-align-last: center;
            }
            .navbar: hover {
                background-color: antiquewhite
            }
            .navbar li{
                float: left;
            }
            */
            #h1 {border: 8px dashed #5A0B4D;
            text-align: center;
            border-radius: 10px;
            padding: 10px;}
            img {border-radius: 
                width: 500px; height: 500px;
            border: 5px solid;}
            .row {display: flex;}
            .column {flex: 33.33%;
                    padding: 5px;}
            .center {display: block;
            margin-left: auto;
            margin-right: auto;}
            body {background-color: #D3F6DB}
            #pspain {color: #92D5E6}
            #lispain {color: #772D8B}
            #h3spain {text-align: center; color: #5A0B4D}
                
       .navbar ul{
                list-style-type: none;
                background-color: #ffff;
                    padding: 0px;
                    margin: 0px;
                overflow: hidden
            }
            .navbar {
                color: white;
                text-decoration: none;
                padding: 15px;
                text-align-last: center;
            }
            .navbar: hover {
                background-color: antiquewhite
            }
            .navbar li{
                float: left;
            }
            h1 {border: 8px dashed #2E294E;
            text-align: center;
            border-radius: 10px;
            padding: 10px;}
            img {border-radius: 
                width: 500px; height: 500px;
            border: 5px solid;}
            .row {display: flex;}
            .column {flex: 33.33%;
                    padding: 5px;}
            .center {display: block;
            margin-left: auto;
            margin-right: auto;}
            body {background-color: #C5D86D}
            p {color: #1B998B}
            li {color: #F46036}
            h3 {text-align: center; color: #D7263D}